<li>
	{{title}}

	<button class="change-done" data-id="{{id}}" data-newdone="{{done}}">
		{{#if done}}Reread!{{else}}Finish!{{/if}}
	</button>

	<button class="delete-book" data-id="{{this.id}}">DELETE!</button>
</li>